<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Huawei Technologies Co., Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edgegallery.mecm.north.repository.mapper.MecMDeploymentMapper">
    <resultMap id="BaseResultMap" type="org.edgegallery.mecm.north.model.MecMPackageDeploymentInfo">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="mecm_package_id" property="mecmPackageId" jdbcType="VARCHAR"/>
        <result column="mecm_pkg_name" property="mecmPkgName" jdbcType="VARCHAR"/>
        <result column="app_id_from_apm" property="appIdFromApm" jdbcType="VARCHAR"/>
        <result column="app_pkg_id_from_apm" property="appPkgIdFromApm" jdbcType="VARCHAR"/>
        <result column="app_instance_id" property="appInstanceId" jdbcType="VARCHAR"/>
        <result column="host_ip" property="hostIp" jdbcType="VARCHAR"/>
        <result column="status_code" property="statusCode" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Deployment_Column_List">
        id
        , mecm_package_id, mecm_pkg_name, app_id_from_apm, app_pkg_id_from_apm, app_instance_id,
        host_ip,status_code, status, start_time, params
    </sql>

    <insert id="insertPkgDeploymentInfo" parameterType="org.edgegallery.mecm.north.model.MecMPackageDeploymentInfo">
        insert into pkg_deployment_table (id, mecm_package_id, mecm_pkg_name, app_id_from_apm, app_pkg_id_from_apm,
                                          app_instance_id, host_ip, status_code, status, start_time, params)
        values (#{id,jdbcType=VARCHAR}, #{mecmPackageId,jdbcType=VARCHAR}, #{mecmPkgName,jdbcType=VARCHAR},
                #{appIdFromApm,jdbcType=VARCHAR}, #{appPkgIdFromApm,jdbcType=VARCHAR},
                #{appInstanceId,jdbcType=VARCHAR}, #{hostIp,jdbcType=VARCHAR}, #{statusCode,jdbcType=INTEGER},
                #{status,jdbcType=VARCHAR}, #{start_time,jdbcType=VARCHAR}, #{params,jdbcType=INTEGER})
    </insert>

    <delete id="deletePkgDeploymentInfoByPkgId" parameterType="String">
        delete
        from pkg_deployment_table
        where mecm_package_id = #{mecmPkgId,jdbcType=VARCHAR}
    </delete>

    <update id="updateMecmPkgDeploymentInfo"
            parameterType="org.edgegallery.mecm.north.model.MecMPackageDeploymentInfo">
        update pkg_deployment_table
        set mecm_package_id     = #{mecmPkgId,jdbcType=VARCHAR},
            mecm_pkg_name       = #{mecmPkgName,jdbcType=VARCHAR},
            app_id_from_apm     = #{appIdFromApm,jdbcType=VARCHAR},
            app_pkg_id_from_apm = #{appPkgIdFromApm,jdbcType=VARCHAR},
            app_instance_id     = #{appInstanceId,jdbcType=VARCHAR},
            host_ip             = #{hostIp,jdbcType=VARCHAR},
            status_code         = #{statusCode,jdbcType=INTEGER},
            status              = #{status,jdbcType=VARCHAR},
            start_time          = #{start_time,jdbcType=VARCHAR},
            params              = #{params,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="getMecMPkgDeploymentInfoById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Deployment_Column_List"/>
        from pkg_deployment_table
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="getMecMPkgDeploymentInfos" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Deployment_Column_List"/>
        from pkg_deployment_table
        where status != 'Finished' order by start_time desc limit 5;
    </select>

    <select id="getMecMPkgDeploymentInfoByPkgId" resultType="org.edgegallery.mecm.north.model.MecMPackageDeploymentInfo"
            parameterType="java.util.List">
        select
        <include refid="Deployment_Column_List"/>
        from pkg_deployment_table
        where mecm_package_id = #{mecmPkgId,jdbcType=VARCHAR}
    </select>

</mapper>