<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2021 Huawei Technologies Co., Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edgegallery.mecm.north.repository.mapper.MecMPackageMapper">
    <resultMap id="BaseResultMap" type="org.edgegallery.mecm.north.model.MecMPackageInfo">
        <id column="mecm_package_id" property="mecmPackageId" jdbcType="VARCHAR"/>
        <result column="mecm_pkg_name" property="mecmPkgName" jdbcType="VARCHAR"/>
        <result column="mecm_pkg_version" property="mecmPkgVersion" jdbcType="VARCHAR"/>
        <result column="mecm_app_class" property="mecmAppClass" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR"/>
        <result column="host_ips" property="hostIps" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="save_file_path" property="saveFilePath" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        mecm_package_id
        , mecm_pkg_name, mecm_pkg_version,mecm_app_class, tenant_id, host_ips, status,token, save_file_path
    </sql>

    <insert id="insertMecmPkgInfo" parameterType="org.edgegallery.mecm.north.model.MecMPackageInfo">
        insert into package_table (mecm_package_id, mecm_pkg_name, mecm_pkg_version, mecm_app_class, tenant_id,
                                   host_ips, status, token, save_file_path)
        values (#{mecmPackageId}, #{mecmPkgName}, #{mecmPkgVersion},
                #{mecmAppClass}, #{tenantId}, #{hostIps},
                #{status}, #{token}, #{saveFilePath})
    </insert>

    <delete id="deletePkgInfoByPkgId" parameterType="String">
        delete
        from package_table
        where mecm_package_id = #{mecmPkgId,jdbcType=VARCHAR}
    </delete>

    <update id="updateMecmPkgInfo" parameterType="org.edgegallery.mecm.north.model.MecMPackageInfo">
        update package_table
        set mecm_pkg_name    = #{mecmPkgName,jdbcType=VARCHAR},
            mecm_pkg_version = #{mecmPkgVersion,jdbcType=VARCHAR},
            mecm_app_class   = #{mecmAppClass,jdbcType=VARCHAR},
            tenant_id        = #{tenantId,jdbcType=VARCHAR},
            host_ips         = #{hostIps,jdbcType=VARCHAR},
            status           = #{status,jdbcType=VARCHAR},
            token            = #{token,jdbcType=VARCHAR},
            save_file_path   = #{saveFilePath,jdbcType=VARCHAR}
        where mecm_package_id = #{mecmPkgId,jdbcType=VARCHAR}
    </update>

    <select id="getMecMPkgInfoByPkgId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from package_table
        where mecm_package_id = #{mecmPkgId,jdbcType=VARCHAR}
    </select>

</mapper>